# AWS Region
aws_region         = "eu-west-1"
aws_region_bedrock = "us-east-1"

# Networking
vpc_cidr           = "x.x.x.x/16"
availability_zones = ["**-**-1a", "**-****-1b"]
private_subnets    = ["x.x.x.x/24", "x.x.x.x/24"]
public_subnets     = ["x.x.x.x/24", "x.x.x.x/24"]

# SSL Certificate
certificate_arn = "arn:aws:acm:*:*****************:certificate/********-****-****-****-************"

# Domain Configuration
domain_name           = "chatbot.your-site.company"
cognito_domain_prefix = "auth-chatbot-company_name"

# Open WebUI
#postgres_password  = "changemeinproduction"
#bedrock_api_key    = 123456
#webui_secret_key   = "changemeinproduction"
webui_version      = "0.5.10"

# Ollama Configuration
ollama_models = "tinyllama,llama2,mistral"

# Ollama Compute Environment
gpu_config = {
  instance_types = ["g4dn.xlarge", "g5.xlarge", "p3.2xlarge"]
  min_gpus       = 1
  max_gpus       = 4
}

spot_config = {
  interruption_behavior = "terminate"
  allocation_strategy   = "capacity-optimized-prioritized"
}
